.footer {
    width: 100%;
    padding: 40px 0 20px 0;
    background-color: #4A3C34;
    color: #F5F5E9;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px 40px 20px;
    border-bottom: 1px solid rgba(245, 245, 233, 0.2);
}

.footer-column {
    flex-basis: 20%;
}

.footer-column h4 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #D9944E;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-column a {
    color: #F5F5E9;
    text-decoration: none;
}

.footer-column a:hover {
    color: #9E5E4E; 
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
}

.footer-bottom {
    font-size: 14px;
    color: rgba(245, 245, 233, 0.7);
}