*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #F5F5E9;
  scroll-behavior: smooth;
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}