.product-card{
  border : 1px solid hsl(0 , 0% , 80%);
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.product-image{
  width: 100%;
  width: 100%; 
  max-height: 150px; 
  object-fit: cover; 
  margin-bottom: 10px;

}